# SPDX-FileCopyrightText: 2021-2024 Jeff Epler
#
# SPDX-License-Identifier: CC0-1.0

name: Test wwvbgen

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        parallelism:
        - 1
        - 10

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install deps
      run: |
        python -mpip install wheel
        python -mpip install coverage

    - name: Coverage
      run: |
        make -j${{ matrix.parallelism }}
        python -mcoverage xml --include "*.py"
        python -mcoverage html --include "*.py"
        python -mcoverage report --fail-under=100 --include "*.py"

    - name: Upload Coverage as artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage with parallelism ${{ matrix.parallelism }}
        path: coverage.xml
